input = "02_01.c3d"
output = "02_01.glb"

model = "../models/character_s0.fbx"
parameters = "../models/character_mocap.model"
locators = "../models/optitrack_biomech57.locators"

calibrate = true
max-frames = 0
first-frame = 0

calib-debug = true
calib-frames = 100
major-iter = 3
max-calib-iter = 30
min-calib-vis-percent = 0
calib-loss-alpha = 2.0
global-scale-only = false
locators-only = false

tracking-debug = true
tracking-loss-alpha = 2.0
smoothing = 0
collision-error-weight = 0.0
max-tracking-iter = 30
min-tracking-vis-percent = 0
